/**
*
*   overview
*
*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.mainOverview {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: 1fr 3fr 1fr;
  position: relative;
  width: 360px;
  height: 800px;
  background: #fafafa;
  border: 1px solid #000000;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas:
    ". date ."
    ". time menu";
  grid-area: header;
  height: 162px;
  box-shadow: inset 0px -1px #000000;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: date;
  font-size: 40px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: time;
  font-size: 56px;
}

.menu {
  display: flex;
  grid-area: menu;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu:active {
  box-shadow: inset grey 0 0;
}

.menubutton {
  display: flex;
  flex-direction: column;
}

.menubutton:active {
  background-color: #b9b9b9;
  border-radius: 75%;
  box-shadow: #b9b9b9 0 0 2px 5px;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 3px;
  background: #000000;
  border-radius: 100%;
}

.content {
  display: flex;
  grid-area: content;
  padding: 0 40px;
  flex-direction: column;
  height: 515px;
  overflow-y: auto;
}

.boxpair {
  display: grid;
  grid-template-columns: 40px 28px auto;
  grid-template-areas: "smallbox . largebox";
  align-content: center;
  padding: 10px 0;
  margin: 8px 0;
}

.smallbox {
  display: flex;
  grid-area: smallbox;
  justify-content: center;
  border: lightgrey solid 3px;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
}

.smallbox:active {
  background-color: #b9b9b9;
}

.largebox {
  display: flex;
  grid-area: largebox;
  border: lightgrey solid 1px;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  cursor: pointer;
  background-color: white;
}

.largebox:active {
  background-color: #b9b9b9;
}

.ellipse {
  height: 25px;
  width: 40px;
  display: flex;
  border-radius: 75%;
  border: lightgrey solid 1px;
  position: relative;
  top: -11px;
  right: -200px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.ellipse:active {
  background-color: #b9b9b9;
}

.footer {
  display: flex;
  grid-area: footer;
  box-shadow: inset 0px 1px #000000;
  justify-content: center;
  align-items: center;
  height: 122px;
}

.add_todo_button {
  display: flex;
  height: 50px;
  width: 50px;
  border: solid 5px;
  border-radius: 75%;
  font-size: 75px;
  padding: 0.5em;
  letter-spacing: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add_todo_button:active {
  background-color: #b9b9b9;
}

/**
*
*   create Todo
*
*/

.mainAddTodo {
  display: grid;
  grid-template-areas:
    "status"
    "formArea"
    "taskArea"
    "todoAdd";
  grid-template-rows: 5% 75% 10% 10%;
  width: 360px;
  height: 800px;
  padding: 39px 30px 0;
  background: #fafafa;
  border: 1px solid #000000;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.todoAddForms {
  display: grid;
  grid-area: formArea;
  grid-template-areas:
    "todoTitle"
    "todoDescription";
  grid-template-rows: 10% 90%;
}

.status {
  display: flex;
  grid-area: status;
  justify-self: right;
  align-self: end;
  margin: 0;
  border: none;
}

.status:active {
  border: solid 3px;
  border-color: grey;
  border-radius: 25%;
}

.status:target:first-child {
  display: none;
}

.status::placeholder {
  color: #d3d3d3;
}

.statusName {
  font-size: 35px;
}

.statusButton {
  display: flex;
}

.todoItem {
  display: flex;
  grid-area: todoItem;
  flex-direction: column;
}

#todoTitle {
  grid-area: todoTitle;
  font-size: 18px;
  padding: 9px 5px;
  margin: 9px 0 9px;
  border-radius: 6px;
  font-family: sans-serif;
  border: #d3d3d3 solid 2px;
}

#todoTitle::placeholder {
  color: #d3d3d3;
}

#todoDescription {
  grid-area: todoDescription;
  display: flex;
  height: 100%;
  padding: 9px 5px;
  margin: 6px 0;
  border-radius: 6px;
  font-size: 18px;
  font-family: sans-serif;
  border: #d3d3d3 solid 2px;
  box-sizing: border-box;
  resize: none;
  overflow: visible;
}

#todoDescription::placeholder {
  color: #d3d3d3;
}

.taskAdd {
    display: flex;
    grid-area: taskArea;
    align-items: center;
}
.taskAddText {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 10px 16px;
    align-items: flex-start;
}

.taskAddButton {
    display: flex;
    height: 20px;
    width: 20px;
    border: solid 1px;
    border-radius: 75%;
    font-size: 45px;
    padding: 15px;
    margin: -5px 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.taskAddButton:active {
  background-color: #b9b9b9;
}

.todoAdd {
    grid-area: todoAdd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoAddButton {
    font-size: 35px;
    padding: 8px 60px;
    border-radius: 24px;
    background-color: white;
    border: #d3d3d3 solid 2px;
    cursor: pointer;
}

.todoAddButton:active {
    background-color: #b9b9b9;
}