/**
*
*   overview
*
*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.mainOverview {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: 1fr 3fr 1fr;
  position: relative;
  width: 360px;
  height: 800px;
  background: #fafafa;
  border: 1px solid #000000;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas:
    ". date ."
    ". time menu";
  grid-area: header;
  height: 162px;
  box-shadow: inset 0 -1px #000000;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: date;
  font-size: 40px;
  text-decoration: none;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: time;
  font-size: 56px;
}

.menu {
  display: flex;
  grid-area: menu;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu:active {
  box-shadow: inset grey 0 0;
}

.menubutton {
  display: flex;
  flex-direction: column;
  border-color: white;
  text-decoration: none;
}

.menubutton:active {
  background-color: #b9b9b9;
  border-radius: 75%;
  box-shadow: #b9b9b9 0 0 2px 5px;
  border-color: #b9b9b9;
}

.menubutton:active div {
  background-color: white;
  border-color: black;
}

.menuwindow {
  display: none;
  /*display: flex;*/
  position: absolute;
  width: 170px;
  height: 100px;
  border: 1px solid #000000;
  box-shadow: 0 1px 2px #000000;
  flex-direction: column;
  top: 145px;
  border-radius: 8px;
  right: 12px;
  background-color: lightgrey;
}

.menuwindow ul {
  list-style-type: none;
}

.menuwindow ul li button {
  font-size: 30px;
  background-color: grey;
  border: none;
  border-radius: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 3px;
  background: #000000;
  border-radius: 100%;
}

#contentOverview {
  display: flex;
  grid-area: content;
  flex-direction: column;
  height: 515px;
  overflow-y: auto;
  padding: 12px 0;
}

#contentOverview div {
  display: flex;
  align-items: center;
  margin: 15px 0 15px 40px;
}

#contentOverview div input {
  display: flex;
  justify-content: center;
  border: lightgrey solid 3px;
  border-radius: 6px;
  margin-right: 24px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
}

#contentOverview section input:active {
  background-color: #b9b9b9;
}

#contentOverview div a {
  display: flex;
  border: lightgrey solid 1px;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: white;
  width: 60%;
  height: 40px;
  padding: 0 6px;
}

#contentOverview div a:active {
  background-color: #b9b9b9;
}

#contentOverview div button {
  height: 25px;
  width: 40px;
  display: flex;
  border-radius: 75%;
  border: lightgrey solid 1px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  bottom: 20px;
  right: 20px;
}

#contentOverview div button:active {
  background-color: #b9b9b9;
}

.footer {
  display: flex;
  grid-area: footer;
  box-shadow: inset 0 1px #000000;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.add_todo_button {
  display: flex;
  height: 50px;
  width: 50px;
  border: solid 5px;
  border-radius: 75%;
  font-size: 75px;
  padding: 0.5em;
  letter-spacing: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add_todo_button:active {
  background-color: #b9b9b9;
}

/**
*
*   createTodo
*
*/

#mainAddTodo {
  display: grid;
  grid-template-areas:
    "formArea"
    "taskArea"
    "todoAdd";
  grid-template-rows: 80% 8% 12%;
  width: 360px;
  height: 800px;
  padding: 39px 30px 0;
  background: #fafafa;
  border: 1px solid #000000;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

#todoAddForms {
  display: grid;
  grid-area: formArea;
  grid-template-areas:
    "statusPopupArea"
    "todoTitleArea"
    "todoDescriptionArea";
  grid-template-rows: 10% 10% 80%;
}

#todoAddForms label {
  display: none;
}

#statusPopupArea {
  display: grid;
  grid-area: statusPopupArea;
}

#statusPopup {
  display: flex;
  justify-self: right;
  align-self: end;
  margin: 0;
  padding: 5px;
  border: none;
  border-radius: 15px;
  font-size: xx-large;
  cursor: pointer;
}

#statusPopup:focus {
  border: none;
  box-shadow: none;
}

#statusPopup option:first-child {
  display: none;
}

#statusPopup option:checked {
  color: black;
}

#statusPopup::placeholder {
  color: #d3d3d3;
}

#statusName {
  font-size: 35px;
}

#statusButton {
  display: flex;
}

.todoItem {
  display: flex;
  grid-area: todoItem;
  flex-direction: column;
}

#todoTitleArea {
  display: flex;
  grid-area: todoTitleArea;
  flex-direction: column;
}

#todoTitle {
  font-size: 18px;
  padding: 9px 5px;
  margin: 9px 0 9px;
  border-radius: 6px;
  font-family: sans-serif;
  border: #d3d3d3 solid 2px;
}

#todoTitle::placeholder {
  color: #d3d3d3;
}

#todoDescriptionArea {
  display: flex;
  grid-area: todoDescriptionArea;
  flex-direction: column;
}

#todoDescription {
  display: flex;
  height: 100%;
  padding: 9px 5px;
  border-radius: 6px;
  font-size: 18px;
  font-family: sans-serif;
  border: #d3d3d3 solid 2px;
  box-sizing: border-box;
  resize: none;
  overflow: visible;
}

#todoDescription::placeholder {
  color: #d3d3d3;
}

.taskAdd {
    display: flex;
    grid-area: taskArea;
    align-items: center;
}

.taskAddText {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 10px 16px;
    align-items: flex-start;
}

.taskAddButton {
    display: flex;
    height: 20px;
    width: 20px;
    border: solid 1px;
    border-radius: 75%;
    font-size: 45px;
    padding: 15px;
    margin: -5px 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.taskAddButton:active {
  background-color: #b9b9b9;
}

.footerButton {
    font-size: 35px;
    padding: 8px 60px;
    border-radius: 24px;
    background-color: white;
    border: #d3d3d3 solid 2px;
    cursor: pointer;
}

.footerButton:active {
    background-color: #b9b9b9;
}

.addTodoFooter {
  grid-area: todoAdd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
*
*   create Task
*
*/

.mainAddTask {
  display: grid;
  grid-template-areas:
    "formArea"
    "taskAdd";
  grid-template-rows: 5% 85% 10%;
  width: 360px;
  height: 800px;
  padding: 39px 30px 0;
  background: #fafafa;
  border: 1px solid #000000;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.taskAddForms {
  display: grid;
  grid-area: formArea;
  grid-template-areas:
    "taskTitle"
    "taskDescription";
  grid-template-rows: 10% 90%;
}

.taskItem {
  display: flex;
  grid-area: taskItem;
  flex-direction: column;
}

#taskTitle {
  grid-area: taskTitle;
  font-size: 18px;
  padding: 9px 5px;
  margin: 9px 0 9px;
  border-radius: 6px;
  font-family: sans-serif;
  border: #d3d3d3 solid 2px;
}

#taskTitle::placeholder {
  color: #d3d3d3;
}

#taskDescription::placeholder {
  color: #d3d3d3;
}

.taskAdd {
  display: flex;
  grid-area: taskArea;
  align-items: center;
}

.taskAddText {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 10px 16px;
  align-items: flex-start;
}

.taskAddButton:active {
  background-color: #b9b9b9;
}

.footerButton {
  font-size: 35px;
  padding: 8px 60px;
  border-radius: 24px;
  background-color: white;
  border: #d3d3d3 solid 2px;
  cursor: pointer;
}

.footerButton:active {
  background-color: #b9b9b9;
}

.addTaskFooter {
  grid-area: taskAdd;
  display: flex;
  justify-content: center;
  align-items: center;
}


/**
*
*   Archiv and delete
*
*/

.archivBody {
  display: grid;
  grid-template-areas:
        'header'
        'main'
        'footer';
  grid-template-rows: 7% 83% 10%;
  position: relative;
  width: 360px;
  height: 800px;
  background: #fafafa;
  border: 1px solid #000000;
  padding: 10px 20px;
}

.archivHeader {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  box-shadow: #000000 0 1px 0 0;
  align-items: center;
}

.archivHeader Button {
  padding: 10px;
  margin: 8px 0;
}

.archivHeader h1 {
  padding: 0;
  margin: 0 15px;
}

.archivHeader p {
  padding: 0;
  margin: 0 15px;
}

.archivMain {
  display: grid;
  grid-template-areas: 'mainheader'
                        'mainsection';
  grid-template-rows: 7% 93%;
}

.archivMain header {
  display: flex;
  grid-area: mainheader;
}

.archivMain header p {
  padding: 0 0 0 15px;
  margin: 20px 0 5px 0;
}

.archivMain header p:first-child {
  float: left;
  width: 30%;
}

.archivMain header p:last-child {
  float: left;
}

.archivMainSection {
  display: flex;
  grid-area: mainsection;
  flex-direction: column;
}

.archivMainSection section {
  display: flex;
  margin: 8px 0;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  align-items: center;
}

.archivMainSection section p {
  display: block;
  margin: 8px 0;
  padding: 0 0 0 15px;
}

.archivMainSection section:hover {
  box-shadow: #000000 0 0 2px;
}

.archivMainSection section p:first-child {
  float: left;
  width: 30%;
}

.archivMainSection section p:last-child {
  float: left;
  width: auto;
}

.archivFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.focusBody {
  display: grid;
  grid-template-areas:
        'header'
        'main'
        'footer';
  grid-template-rows: 7% 83% 10%;
  position: relative;
  width: 360px;
  height: 800px;
  background: #fafafa;
  border: 1px solid #000000;
  padding: 10px 20px;
}

.focusHeader {
  display: flex;
  grid-area: header;
  justify-content: center;
  box-shadow: #000000 0 1px 0 0;
  align-items: center;
}

.focusHeader Button {
  padding: 10px;
  margin: 8px 0;
}

.focusHeader h1 {
  padding: 0;
  margin: 0 15px;
}

.focusHeader p {
  padding: 0;
  margin: 0 15px;
}

.focusMain {
  display: flex;
  flex-direction: column;
  grid-area: main;
}

.focusFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The switch - the box around the slider */
.archivToggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.focusSliderToggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.archivToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.focusSliderToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.focusSliderToggle p {
  padding: 0;
  margin: auto 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f32121;
}

input:checked + .focusSliderPopup:before {
  display: block;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f32121;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/*  focus slider */
.sliderContainer {
  padding: 30px;
}

.focusSliderPopup {
  display: none;
}